@import './contexts/Theme.module.css';

.popupRoot {
    width: 100%;
    height: 100%;
    display: flex;
}

.popupBody {
    margin: 0;
    min-width: 750px;
    max-width: 950px;
    height: 600px;
    overflow: hidden;
}

body {
    margin: 0;
}